.dsf-title-header {
  background-color: var(--dsf-color-bg-primary);
  color: var(--dsf-color-font-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dsf-title-header p {
  font-weight: 700;
  font-size: 12px;
}

.dsf-title-header h1 {
    font-weight: 700;
    font-size: 20px;
} 