.dsf-container-card-form {
  background-color: var(--dsf-color-bg-tertiary);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: -22px;
}

.dsf-container-card-form input{
  width: 100%;
  max-width: 200px;
  height: 40px;
  border: 1px solid var(--dsf-color-bg-secondary);
  border-radius: 5px;
  padding: 8px 18px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--dsf-color-font-secondary);
  margin-bottom: 20px;
}

.dsf-container-card-form input::placeholder {
  color: var(--dsf-color-bg-secondary);
}

.dsf-container-card-form button {
  background-color: var(--dsf-color-bg-primary);
  color: var(--dsf-color-font-primary);
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
